@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/bg-intro-desktop.png);
    background-color: rgba(255, 120, 120, 0.75);
    background-size: 1440px 650px;
    overflow-y: none;
     overflow-x: none; 
}
main{
  position: relative;
  display: flex;
  align-items: center;
  background-size: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 12%;
}
.left{
    width: 400px;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: -20px;
    cursor: default;
}
.left h1{
    line-height: 32px;
    font-weight: bold;
    padding: 15px 0;
}
.left p{
    font-size: 12px;
}
.right{
    width: 400px;
    float: right;
    justify-items: center;
    padding: 50px;
    margin: 0 100px;
}
.right .btn{
    width: 400px;
    padding: 12px;
    margin: 10px 5px;
    background-color: hsl(248, 32%, 49%);
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #0000003b;
    cursor: pointer; 
}
.right .btn:hover{
    box-shadow: 0 0 8px 2px rgba(1, 1, 1, 0.432);
}
.right .btn p{
    color: white;
    font-weight: bold;
    font-size: 11px;
}
.right .btn span{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.859);
    font-weight: 100px;
}
form{
    background-color: #ffffff;
    align-content: center;
    padding: 35px 35px;
    width: 400px;
    height: 370px;
   border-radius: 5px;
   margin: 5px;
   box-shadow: 0px 4px 4px #0000003b;
}

input{
    font-size: 10px;
    padding: 10px 20px;
    margin: 7px;
    font-weight: 500;
    border-radius: 5px;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.3)
}
input:hover{
    border: 1px solid rgba(0,0,0,0.6);
}
.submit{
    width: 320px;
    padding: 12px;
    margin: 10px 5px;
    background-color:hsl(154, 59%, 51%) ;
    border: transparent;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 10px;
    color: #ffffff;
    cursor: pointer;
}
.submit:hover{
    box-shadow: 0 0 8px 2px rgba(1, 1, 1, 0.432);
}
.right p{
    font-size: 9px;
    text-align: center;
    color: hsl(246, 25%, 77%);
    cursor: default;
}
.right p a{
    text-decoration: none;
    font-weight: bold;
    color:hsl(0, 100%, 74%);
}
@media screen and (max-width: 375px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        max-width: 375px;
    }
    body{
        background-image: url(./images/bg-intro-mobile.png);
        background-size: 375px;
        background-color: rgba(255, 120, 120, 0.655);
                 
    }
    main{
        position: absolute;
        align-items: center;
        max-width: 375px;
        display: block;

    }
    .left{
        width: 315px;
        color:#ffffff;
        justify-content: center;
        align-items: center;
        padding: 15px;
        cursor: default;
        margin: 30px 10px 0px 15px;
    }
    .left h1{
        line-height: 30px;
        font-weight: bold;
        font-size: 25px;
        padding: 5px 5px;
        text-align: center;
        width: 250px;
    }
    .left p{
        font-size: 12px;
        text-align: center;
        line-height: 25px;
        padding: 5px;
        width: 250px;
    }
    .right{
        width: 315px;
        justify-items: center;
        align-items: center;
        padding: 15px;
        margin: 0px 10px 30px 15px;
    }
    .right .btn{
        width: 250px;
        padding: 12px;
        align-items: center;
        margin: 5px 10px 5px 40px;
        background-color: hsl(248, 32%, 49%);
        border: transparent;
        border-radius: 5px;
        box-shadow: 0px 4px 4px #0000003b;
        cursor: pointer; 
    }
    form{
        background-color: #ffffff;
        align-content: center;
        padding: 35px 25px;
        width: 250px;
        height: 300px;
       border-radius: 5px;
       margin: 5px 10px 5px 40px;;
       box-shadow: 0px 4px 4px #0000003b;
    }
    input{
        font-size: 10px;
        padding: 5px;
        margin: 5px 5px 5px 0px;
        font-weight: 500;
        border-radius: 5px;
        width: 200px;
        border: 1px solid rgba(0, 0, 0, 0.3)
    }
    .submit{
        width: 200px;
        padding: 12px;
        margin: 10px 0;
        background-color:hsl(154, 59%, 51%) ;
        border: transparent;
        border-radius: 5px;
        font-weight: bolder;
        font-size: 10px;
        color: #ffffff;
        cursor: pointer;
    }
}